<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>OAuth Dance</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <form action="/authorize" method="post" id="main">
        <h1>Dance The OAuth Dance</h1>
    
        <p>
            Doing the <a href="http://oauth.net">OAuth dance</a> can be an
            incredible pain <br>when you just need to get data out of an API.
            <br>Let us dance the dance on your behalf.
        </p>

        <p>
            <label for="key">Key</label>
            <input type="text" name="key" placeholder="OAuth client key or ID">
        </p>
        <p>
            <label for="secret">Secret</label>
            <input type="text" name="secret" placeholder="OAuth client secret">
        </p>
        <p>
            <label for="provider">Authorize</label>
            <button name="provider" value="github" type="submit">Go Github</button>
            <button name="provider" value="twitter" type="submit">Go Twitter</button>
            <button name="provider" value="google" type="submit">Go Google</button>
        </p>

        <h3>How To</h3>
        <p>
            Set up a new application with one of the providers below, <br>be
            sure to set your callback URL to this site, and enter your <br>OAuth
            client ID and secret in this form.
        </p>
        <p>
            <code>{{callback_url}}</code>
        </p>
        <p>
            Don’t trust us? Good. <br>Install the app yourself using
            <a href="https://github.com/migurski/oauth-dance">Python code from Github</a>.
        </p>
    </form>

    <hr>

    <h2>Github</h2>
    <p>
        New application:<br>
        <a href="https://github.com/settings/applications/new">https://github.com/settings/applications/new</a>
    </p>
    <p>
        OAuth documentation:<br>
        <a href="https://developer.github.com/v3/oauth/">https://developer.github.com/v3/oauth/</a>
    </p>
    <p>
        <a href="static/github-app.png">Sample Github app screenshot</a>.
    </p>
    
    {% if host == '127.0.0.1:5000' %}
        <form action="/authorize" method="post">
            <p>
                <input type="hidden" name="key" value="4949d934f1da777dcfb9">
                <input type="hidden" name="secret" value="12842261ecb07d4abe328e8361739fd51dd169ba">
                <button name="provider" value="github" type="submit">JFDI</button>
            </p>
        </form>
    {% elif host == 'oauth-dance.herokuapp.com' %}
        <form action="/authorize" method="post">
            <p>
                <input type="hidden" name="key" value="aa1f054f836ab5f2a54b">
                <input type="hidden" name="secret" value="84458662d6a114de39e5a3ec5c8b92912824d6cf">
                <button name="provider" value="github" type="submit">JFDI</button>
            </p>
        </form>
    {% endif %}
    
    <h2>Twitter</h2>
    <p>
        New application:<br>
        <a href="https://apps.twitter.com/app/new">https://apps.twitter.com/app/new</a>
    </p>
    <p>
        OAuth documentation:<br>
        <a href="https://dev.twitter.com/docs/auth/oauth">https://dev.twitter.com/docs/auth/oauth</a>
    </p>
    <p>
        <a href="static/twitter-app.png">Sample Twitter app screenshot</a>.
    </p>
    
    {% if host == '127.0.0.1:5000' %}
        <form action="/authorize" method="post">
            <p>
                <input type="hidden" name="key" value="3tAboWZ2ZolF1B3XvVWrZUkJj">
                <input type="hidden" name="secret" value="kO4OdfxmZp9HMzyNTevLjAoOXlc5UYOVYcVPuWcv1uy4W8B94I">
                <button name="provider" value="twitter" type="submit">JFDI</button>
            </p>
        </form>
    {% elif host == 'oauth-dance.herokuapp.com' %}
        <form action="/authorize" method="post">
            <p>
                <input type="hidden" name="key" value="fJn26dnS2QY4KD5VD42YxHEjt">
                <input type="hidden" name="secret" value="HZUzuvtO8W6zeWbAHuxSl6wocxs4et19bFVR8Kq6CRk0TEDiUT">
                <button name="provider" value="twitter" type="submit">JFDI</button>
            </p>
        </form>
    {% endif %}
    
    <h2>Google</h2>
    <p>
        New application:<br>
        <a href="https://console.developers.google.com/project">https://console.developers.google.com/project</a><br>
        <q>Create New Client ID</q> under <i>APIs &amp; auth → Credentials</i>.
    </p>
    <p>
        OAuth documentation:<br>
        <a href="https://developers.google.com/accounts/docs/OAuth2">https://developers.google.com/accounts/docs/OAuth2</a>
    </p>
    <p>
        <a href="static/google-app.png">Sample Google app screenshot</a>.
    </p>
    
    {% if host == '127.0.0.1:5000' %}
        <form action="/authorize" method="post">
            <p>
                <input type="hidden" name="key" value="656808925171-0db1to95unmk66hkqmnlljhrj8ofj0ce.apps.googleusercontent.com">
                <input type="hidden" name="secret" value="ZqSrok49lcVh5xyUFJI4cGHf">
                <button name="provider" value="google" type="submit">JFDI</button>
            </p>
        </form>
    {% elif host == 'oauth-dance.herokuapp.com' %}
        <form action="/authorize" method="post">
            <p>
                <input type="hidden" name="key" value="622386048115-8re9rvfl7ald5o60chdijant2qhf5cj1.apps.googleusercontent.com">
                <input type="hidden" name="secret" value="mHB8cLJ219X6dLipw1Erg1Ue">
                <button name="provider" value="google" type="submit">JFDI</button>
            </p>
        </form>
    {% endif %}

    <hr>

    <p>
        Fork me at <a href="https://github.com/migurski/oauth-dance">https://github.com/migurski/oauth-dance</a>
    </p>
</body>
</html>
