<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>OAuth Dance</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h1>Dance The OAuth Dance</h1>

    <form action="/authorize" method="post">
        <p>
            <label for="key">Key</label>
            <input type="text" name="key" placeholder="key">
        </p>
        <p>
            <label for="secret">Secret</label>
            <input type="text" name="secret" placeholder="secret">
        </p>
        <p>
            <button name="provider" value="github" type="submit">Authorize Github</button>
            <button name="provider" value="twitter" type="submit">Authorize Twitter</button>
            <button name="provider" value="google" type="submit">Authorize Google</button>
        </p>
    </form>

    <h3>Callback URL</h3>
    <p>
        <code>{{callback_url}}</code>
    </p>
    
    <h2>Github OAuth</h2>
    <p>
        New application:<br>
        <a href="https://github.com/settings/applications/new">https://github.com/settings/applications/new</a>
    </p>
    <p>
        OAuth documentation:<br>
        <a href="https://developer.github.com/v3/oauth/">https://developer.github.com/v3/oauth/</a>
    </p>
    <p>
        <a href="static/github-app.png">Sample Github app screenshot</a>.
    </p>
    
    <h2>Twitter OAuth</h2>
    <p>
        New application:<br>
        <a href="https://apps.twitter.com/app/new">https://apps.twitter.com/app/new</a>
    </p>
    <p>
        OAuth documentation:<br>
        <a href="https://dev.twitter.com/docs/auth/oauth">https://dev.twitter.com/docs/auth/oauth</a>
    </p>
    <p>
        <a href="static/twitter-app.png">Sample Twitter app screenshot</a>.
    </p>
    
    <h2>Google OAuth</h2>
    <p>
        New application:<br>
        <a href="https://console.developers.google.com/project">https://console.developers.google.com/project</a><br>
        Set up OAuth 2.0 under <i>APIs &amp; auth → Credentials</i>.
    </p>
    <p>
        OAuth documentation:<br>
        <a href="https://developers.google.com/accounts/docs/OAuth2">https://developers.google.com/accounts/docs/OAuth2</a>
    </p>
    <p>
        <a href="static/google-app.png">Sample Google app screenshot</a>.
    </p>

    <hr>

    <p>
        Fork me at <a href="https://github.com/migurski/oauth-dance">https://github.com/migurski/oauth-dance</a>
    </p>
</body>
</html>
